name: gui
description: A Flutter project local AI chat UI

publish_to: "none" 

version: 1.0.0+1

environment:
  sdk: ">=3.4.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  # ✅ Dépendance pour appeler FastAPI
  http: ^1.5.0
  provider: ^6.1.5+1

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
